.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  outline: none !important;
  border: none !important;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery:focus {
  outline: none !important;
}

.circular-gallery:focus-visible {
  outline: none !important;
}
